*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(assets/pcback.jpg);
    background-repeat: no-repeat;
}

header{
    width: 100%;
    height: 150px;
    display: flex;
}

.language {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.language img{
    height: 70%;
}

.changeLanguage{
    border: 1px black solid;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: #ca7624;
    background-color: #1a1514;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}
.changeLanguage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(26,21,20,0.1);
    transition: all 0.3s;
  }
  .changeLanguage:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .changeLanguage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .changeLanguage:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

.nome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}
.nome a{
    color: black;
    text-decoration: none;
}

.tema{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
}

.tema img{
    height: 70%;
}

.changeTheme{
    border: 1px black solid;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: #ca7624;
    background-color: #1a1514;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}
.changeTheme::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(26,21,20,0.1);
    transition: all 0.3s;
  }
  .changeTheme:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .changeTheme::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .changeTheme:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

main{   
    width: 100%;
    height:80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.button{
    position:relative;
    display:inline-block;
    margin:20px;
  }
  .button a{
    color:white;
    font-size:36px;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:20px 40px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 70%;
    gap: 100px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}